<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin}"></title>
    <th:block th:replace="~{/layout::linkBootStrap}"></th:block>
</head>
<body>
<th:block th:replace="~{/layout::header}"></th:block>
<p style="font-size: 30px" class="text-center text-primary" th:text="#{admin.welcome}"></p>
</body>
</html>