<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <th:block th:replace="~{/layout::linkBootStrap}"></th:block>
</head>
<body>
<th:block th:replace="~{/layout::header}"></th:block>
<div class="d-flex flex-column justify-content-center align-items-center" th:if="${loginResponse}">
    <p th:text="${#httpServletRequest.getHeader('Authorization')}"></p>
    <p style="font-size: 30px">
        <span th:text="#{username}"></span> : <span style="color: red; font-size: 30px"
                                                    th:text="${loginResponse.username}"></span>
    </p>
    <p style="font-size: 30px">
        <span th:text="#{home.role}"></span> : <span style="font-size: 30px" th:text="${loginResponse.role}"></span>
    </p>
</div>
</body>
</html>