<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{cart.title}"></title>
</head>
<th:block th:replace="~{/layout::linkBootStrap}"></th:block>
<body>
<th:block th:replace="~{/layout::header}"></th:block>
<h1 class="text-center text-primary" th:text="#{cart.info}"></h1>
<h3 class="text-center" style="font-size: 40px ;font-weight: bold" th:if="${message}" th:text="${message}"></h3>
<h3 th:if="${error != null}" id="errorMessage" class="alert alert-danger text-center" th:text="${error}"></h3>
<div class="container">
    <a th:if="${cart != null && !cart.products.isEmpty()}" class="btn btn-danger" href="/cart/clear" style="padding: 10px;font-size: 20px"
       th:text="#{cart.delete}"></a>
    <table
            style="margin-top: 10px"
            class="table table-hover table-striped">
        <thead>
        <tr>
            <th class="text-center" scope="col" th:text="#{cart.no}"></th>
            <th class="text-center" scope="col" th:text="#{cart.product-img}"></th>
            <th class="text-center" scope="col" th:text="#{cart.product-name}"></th>
            <th class="text-center" scope="col" th:text="#{cart.product-price}"></th>
            <th class="text-center" scope="col" th:text="#{cart.product-quantity}"></th>
            <th class="text-center" scope="col" th:text="#{cart.to-money}"></th>
            <th class="text-center" scope="col" th:text="#{cart.product-detete}"></th>
        </tr>
        </thead>
        <tbody>

        <!-- Nội dung giỏ hàng -> vòng lặp -->
        <tr th:if="${cart != null && cart.products != null}" th:each="entry,loop : ${cart.products}">
            <th style="text-align: center;vertical-align: middle"
                th:text="${loop.count}" scope="row"></th>
            <!-- Ảnh đại diện của sản phẩm -->
            <td><img th:if="${!entry.key.images.isEmpty()}" width="100px" height="100px"
                     th:src="@{/image/__${entry?.key?.images?.get(0)?.getImageSrc()}__}"
                     th:alt="#{cart.product-img}">

                <!-- Ảnh mặc định khi không có ảnh đại diện -->
                <img th:if="${entry.key.images.isEmpty()}" width="100px" height="100px"
                     th:src="#{default-img-url}" alt="default-img">
            </td>
            <td style="text-align: center;vertical-align: middle"
                th:text="${entry.getKey().name}"></td>
            <td style="text-align: center;vertical-align: middle"
                th:text="${#numbers.formatDecimal(entry.getKey().price , 0 ,'COMMA', 0 , 'POINT')+' ' + #messages.msg('cart.vnd')}"></td>
            <td style="text-align: center;vertical-align: middle">
                <span style="margin: 0 2px" th:text="${entry.getValue()}"></span>
            </td>
            <td style="text-align: center;vertical-align: middle"
                th:text="${#numbers.formatDecimal(entry.getValue() * entry.getKey().price , 0 , 'COMMA' , 0 , 'POINT')+' ' + #messages.msg('cart.vnd')}"></td>
            <td style="text-align: center;vertical-align: middle"
            ><a style="font-size: 30px" th:href="@{/cart/delete-product/__${entry.getKey().getId()}__}"><i
                    class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>

        <!-- hiển thị giảm giá -->
        <tr th:if="${cart != null && cart.promotion != null}">
            <td colspan="7">
                <span th:text="#{cart.base-price}"></span> : &nbsp;
                <span th:style="${'text-decoration: line-through darkgray'}"
                      th:text="${#numbers.formatDecimal(cart.getTotalPayment() , 0 , 'COMMA' , 0 , 'POINT') + ' ' + #messages.msg('cart.vnd') }"></span>
                &ensp;
                <span style="color: red;"
                      th:text="${cart.promotion.name}"></span>
            </td>
        </tr>

        <!-- Tính tiền và button thanh toán -->
        <tr th:if="${cart != null && cart.products.size() > 0 && cart.getTotalPayment() > 1000000}">
            <td colspan="6" style="text-align: center;border: 1px solid darkgray">
                <span th:text="#{cart.to-money}"></span> :
                <span th:text="${#numbers.formatDecimal(cart.getTotalPaymentWithDiscount() , 0 , 'COMMA' , 0 , 'POINT') + ' ' + #messages.msg('cart.vnd')}"></span>
            </td>
            <td>
                <a class="btn btn-primary text-center" th:href="@{/pay/form}" th:text="#{cart.pay}"></a>
            </td>
        </tr>
        <tr th:if="${ (cart == null) || (cart.products == null) || (cart.products.size()==0) }">
            <td colspan="7" style="color: #bbbbbb;text-align: center" th:text="#{cart.no-product}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script th:inline="javascript" th:src="@{/js/cart/cart.js}"></script>
</html>