<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{vnpay.info}"></title>
    <th:block th:replace="~{/layout::linkBootStrap}"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<th:block th:replace="~{/layout::header}"></th:block>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <h1 th:if="${error}" th:text="${error}"></h1>
    </div>
    <div th:if="${successData}" class="row d-flex justify-content-center align-items-center">
        <table class="table table-hover">
            <thead>
            <tr>
                <th colspan="2" scope="col"> <span th:text="#{vnpay.success}"></span> <i class="fa-solid fa-circle-check text-success"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${successData}">
                <td th:text="${entry.getKey()}"></td>
                <td th:text="${entry.getValue()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>