<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <meta charset="UTF-8">
  <title th:text="#{layout.upload-csv}">Admin</title>
  <th:block th:replace="~{/layout::linkBootStrap}"></th:block>
</head>
<body>
<th:block th:replace="~{/layout::header}"></th:block>
<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="row">
    <h3 th:if="${error}" th:text="${error}" class="text-center text-danger"></h3>
  </div>
  <div class="row">
    <form th:action="@{/csv/upload}" enctype="multipart/form-data" method="post">
      <input type="file" name="csv">
      <button type="submit" class="btn btn-primary" th:text="#{upload}"></button>
    </form>
  </div>
</div>

</body>
</html>